---
layout: default
title: Home
type: Home 
header: none 
footer: none
---

<div class="home">

  <div class="mini-intro">
    <img class="avatar" src="{{site.author.profile-pic}}" alt="your-photo">
    {% capture home-intro %}
      {% include content/home-intro.md %}
    {% endcapture %}
    {{ home-intro | markdownify }}
  </div>

  <ul class="accordion-tabs">
    <li class="tab-header-and-content">
      <a href="#" id="trigger-form" class="tab-aside-link is-active">Newsletter</a>
      <div class="tab-aside-content">
      <!-- no tab content, filler div for initial borders --> 
      </div>
    </li>

    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Blog</a>
      <div class="tab-content featured-posts">
          <h2> Newest Articles </h2>
          {% for post in site.posts limit: 5 %}
          <article class="post">
            <h3 class="post-title">
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
              </a>
            </h3>
          </article>
          {% endfor %}
          <a href="/archives" class="see-archives">See all articles</a>
      </div>
    </li>

    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Projects</a>
      <div class="tab-content featured-projects"> 
        {% capture home-projects %}
          {% include content/home-projects.md %}
        {% endcapture %}
        {{ home-projects | markdownify }}
      </div>
    </li>

    <li class="tab-header-and-content">
      <a href="#" class="tab-link">About</a>
      <div class="tab-content">
        {% capture home-about %}{% include content/home-about.md %}{% endcapture %}
        {{ home-about | markdownify }}
      </div>
    </li>


    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Contact</a>
      <div class="tab-content">
        {% include contact-form.html %}
      </div>
    </li>
  </ul>

</div>






